@use "./variables";


.parking__table{
    width: 80%;
    margin: 0 auto;
    background: variables.$thirdy;
    border: 1px solid white;
}

.parking__table__header {
    background: variables.$primary;
    color: white;
    height: 2.5rem;
    border: 1px solid white;
}

th {
    position: relative;
    width: 25%;
    border: 1px solid white;
    padding: 1rem;

    span {
        @include variables.position(absolute, "", .5rem, .3rem, "");
        display: flex;
        width: 2rem;
        height: 2rem;
        img {
            max-width: 100%;
        }
    }
}

td {
    border: 1px solid white;
    text-align: center;
    padding: .5rem;
}